body {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  padding: 5vw 0px 50px 0px;
  line-height: 1.5em;
}

h1 a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.062);
  padding: 5px;
  border-radius: 5px;
}

h1 a:hover {
  box-shadow: 1px 1px 100px rgba(255, 255, 255, 0.596);
}

ul {
  min-width: 200px;
  max-width: 20vw;
  margin: auto;
}

li:hover {
  box-shadow: 1px 1px 100px rgba(255, 255, 255, 0.493);
}
